<div class="container mt-5 pt-5 mb-5 pb-5">
  <div class="text-center">
    <h2>ご案内</h2>
    <p>
      ログインして頂きありがとうございます。<br>
      このページではこのアプリの操作方法をお伝えいたします。
    </p>
  </div>
  <div>
    <h3>アプリの構成</h3>
    <p>このアプリは以下５つの機能がございます。</p>
    <ul>
      <li>
        お悩み投稿
      </li>
      <li>
        Youtube動画検索
      </li>
      <li>
        ユーザー情報
      </li>
      <li>
        お知らせ
      </li>
      <li>
        お問い合わせ
      </li>
    </ul>
  </div>
  <div>
    <h3>お悩み投稿</h3>
    <p>この昨日はファッションに関してのお悩み事をアプリに投稿することができます。</p>
  </div>

</div>
