<div class="guidance">
  <div class="container mt-5 pt-5 mb-5 pb-5  text-center">
    <div>
      <h2>ご案内</h2>
      <p>
        ご登録ありがとうございます。<br>
        このページではこのアプリの操作方法をお伝えいたします。
      </p>
    </div>
    <div class="mt-5">
      <h3>アプリの使い方</h3>
      <p class='h5'>
        このアプリの使い方は主に２つございます。<br>
        １つ目は、ファッションに関してお悩み事をアプリに投稿し、ユーザー又は管理者でお悩みを解決することです。<br>
        ２つ目は、Youtube検索機能を使いファッション情報を動画で取得することです。
      </p>
    </div>
    <div class="mt-5">
      <h3>アプリの構成</h3>
      <p>このアプリは以下５つの機能がございます。</p>
      <ul class='h5 mb-5'>
        <li>
          お悩み投稿
        </li>
        <li>
          Youtube動画検索
        </li>
        <li>
          ユーザー情報
        </li>
        <li>
          お知らせ
        </li>
        <li>
          お問い合わせ
        </li>
      </ul>
    </div>
    <div class = 'guidance_content mb-5 p-5'>
      <h3 class="text-center mb-3">お悩み投稿</h3>
      <p>
        お悩み投稿はファッションに関するお悩み事をアプリに投稿することができる機能です。<br>
        投稿されたお悩み事に対して他のユーザーや管理者がコメントをし,お悩みを解決することができます。
        お悩み投稿者はいいコメントを行ったユーザーにgoodコメントポイントをあげることができます。
        このgoodコメントポイントは一週間毎に統計をとっており、ランキング上位者はお悩み一覧ページで確認することができます。
        ぜひあなたも、お悩みに対してコメントをしてあげてください。
        (ランキング上位者には特典を考察中です!)
      </p>
    </div>
    <div class = 'guidance_content mb-5 p-5'>
      <h3 class="text-center  mb-3">Youtube動画検索</h3>
      <p>
        Youtube動画検索機能は検索バーから任意のキーワードでYoutube動画を検索することができます<br>
        画像やニュースではなかなか着こなし方や最新トレンドを理解することが難しい時があると思いますので
        ぜひ、動画からファッション情報を取得してください。
        オススメのユーチューバーはメンズならげんじさん、ハズムさん、女性なら、プチプラのあやちゃんチャンネルをオススメいたします！
      </p>
    </div>
    <div class = 'guidance_content mb-5 p-5'>
      <h3 class="text-center mb-3">ユーザー情報</h3>
      <p>
        ユーザー情報機能はご登録された名前やemailの確認を行うことができます。
        また、過去に投稿したお悩み,ブックマークしたお悩み,コメントしたお悩みを確認することができます。
      </p>
    </div>
    <div class = 'guidance_content mb-5 p-5'>
      <h3 class="text-center mb-3">お知らせ</h3>
      <p>
        お知らせ機能は管理者からユーザーの方にお伝えしたいことを確認できる機能です。
        時々チェックしてみてください。
      </p>
    </div>
    <div class = 'guidance_content mb-5 p-5'>
      <h3 class="text-center mb-3">お問い合わせ</h3>
      <p>
        お問い合わせ機能は、管理者にこのアプリに対してお問い合わせすることができる機能です。
        退会に関することもこちらからよろしくお願いいたします。
      </p>
    </div>
  </div>

</div>
