<h2>質問一覧</h2>

<table>
  <% @posts.each do |post| %>
  <thead>
    <tr>
      <th>タイトル</th><th></th><th></th><th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to '見てみる',users_post_path(post) %></td>
      <% if post.user_id == current_user.id %>
      <td><%= link_to '編集',edit_users_post_path(post) %></td>
      <td><%= link_to '削除',users_post_path(post),method: :delete %></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
