<div class="pt-5 pb-5 mt-5 mb-5 container">
  <h2 class = 'text-center mt-3 mb-3'>検索結果</h2>
  <p class = 'text-center'>この検索バーからは現在投稿されているお悩みを探すことができます。</p>

  <!-- 検索フォーム -->
  <%= render partial: "search_post" %>

  <div class="row">
    <div class="col-lg-3 order-lg-1">
      <%# 投稿フォーム %>
      <%= render partial: "form_post", locals: { post: @post }%>
    </div>

    <div class="col-lg-9 wrap order-lg-2">
      <%= render partial: "posts_index", locals: { posts: @posts, users: @users } %>
    </div>
  </div>
</div>
