<div class="container mt-5 pt-5">
  <h2 class ='text-center mt-3 mb-3'>詳細</h2>
  <div class="card p-5">
    <div class="card-body">
      <%= "タイトル : #{@notice.announce_title}"%>
      <p class='card-text mt-4'>
        <%= "本文 : #{@notice.announce_body}"%>
      </p>
      <div class="actions">
        <%= link_to '戻る',users_notices_path,class: 'btn btn-outline-secondary mt-3' %>
      </div>
    </div>
    </div>
</div>
