<div class="container">
  <h2 class = 'text-center mt-3 mb-3'>Youtubeお気に入り動画一覧</h2>

  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th><th></th><th></th>
      </tr>
    </thead>
    <% @youtubes.each do |youtube| %>
    <tbody>
      <tr>
        <td><%= youtube.youtube_comment %></td><br>
        <td><%= link_to '動画を見る',youtube.youtube_url_was %></td>
        <td><%= link_to '削除する',users_youtube_path(youtube),method: :delete %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <div class='mb-5'>
    <%= paginate @youtubes %>
  </div>
</div>
