<div class="container mt-5 pt-5">
  <h2 class = 'text-center mt-3 mb-3'>Youtubeお気に入り動画一覧</h2>
  <p class = 'text-center'>このページではお気に入りしたYoutubeの動画を見ることができます！</p>

  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th><th></th>
      </tr>
    </thead>
    <% @youtubes.each do |youtube| %>
    <tbody>
      <tr>
        <td><%= youtube.youtube_comment %></td><br>
        <td>
          <%= link_to '動画を見る',youtube.youtube_url_was, :target=>["_blank"],class: 'btn btn-outline-success mb-3' %><br>
          <%= link_to '削除する',users_youtube_path(youtube),method: :delete, data: {confirm: "削除しますか？"},class: 'btn btn-outline-danger' %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <div class='mb-5'>
    <%= paginate @youtubes %>
  </div>
</div>
