#tab-menu-post  {
  margin-bottom: 0;
}

#tab-menu-post li {
  float: left;
  list-style-type: none;
  width: 50%;
}

#tab-menu-post a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #D3D3D3;
  border: 1px solid #D3D3D3;
  border-bottom: none;
}

#tab-menu-post .active {
  background: #fff;
  color: #000;
}

#tab-contents .tab {
  padding: 30px;
  background: #fff;
  border: 1px solid #D3D3D3;
  border-top: none;
}

#tab-contents p{
  color:#000;
  line-height: 2.5;
}
